body {
    font-family: 'Poppins', sans-serif;
}

.active {
    font-weight: 500;
}

.carouse-image {
    height: 92vh;
}

.carousel-caption {
    top: 10%;
}

.carousel-caption h3 {
    font-size: 4rem !important;
    font-weight: bold;
}

.login {
    background: url('../images/background.jpg') no-repeat;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}